.title {
  font-family: "Montserrat", sans-serif !important;
}

.price-tag {
  font-family: "Roboto Condensed", sans-serif;
}

.card-title {
  font-family: "Roboto", sans-serif;
}

.label-float input:focus + label, .label-float label.top {
  transform: translate(0, 0);
  top: -1.75em;
  color: #93C5FD;
  padding: 0 4px;
  font-size: smaller;
  font-weight: bold;
}

.label-float + .label-float {
  margin-top: 1.25rem;
}

.min-w-custom {
  min-width: 14rem;
}

@media (min-width: 768px) {
  .max-w-custom {
    max-width: 50%;
  }
}